
.nav-item-custom {
  transition: all 0.2s ease;
}

.nav-item-custom:hover {
  opacity: 0.8;
  text-decoration: underline;
  text-underline-offset: 6px;
}
.custom-btn {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  background-color: #d1e7dd;
  transition: background-color 0.2s ease;
}

.custom-btn:hover {
  background-color: #f8d7da;
}

.sidebar-link {
  transition: all 0.2s ease;
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(4px);
}

.sidebar-section {
  background-color: rgba(255,255,255,0.15);
  transition: all 0.2s ease;
}

.sidebar-section:hover {
  background-color: rgba(255, 255, 255, 0.292);
  transform: translateX(4px);
}