.nav-item-custom {
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
  display: inline-block;
}

.nav-item-custom:hover {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
  transform: translateY(-1px);
}
.custom-btn {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  background-color: #f06363;
  transition: background-color 0.2s ease;
}

.custom-btn:hover {
  background-color: #f8bbc0;
}

.sidebar-link {
  transition: all 0.2s ease;
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(4px);
}

.sidebar-section {
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.2s ease;
}

.sidebar-section:hover {
  background-color: rgba(255, 255, 255, 0.292);
  transform: translateX(4px);
}


.login-bg {
  /* background-image: url("assets/images/bg-light.jpeg"); */
  background-image: url("assets/images/bg-dark.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;   
  width: 100%;
  height: 100vh;            
  margin: 0;
}

.btn-pink{
  background-color: #c90c74;
  border: #c90c74;
}
.btn-pink:hover{
  background-color: #de4198;
  /* border: #c32b7f; */
}

.notification-dot {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: gold;
  border-radius: 50%;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}